<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CRUD Albums</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flash-messages">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% endwith %}
    <br><br>
    <center><h1>Gestion de Albums</h1></center>
    <br>
    <center>
    <form action="/guardar" method="POST">
        <input type="text" name="txtTitulo" placeholder="Escribe el titulo">
        <input type="text" name="txtArtista" placeholder="Escribe el artista">
        <input type="number" name="txtAnio" placeholder="Escribe el año">
          
        <button type="submit"> Guardar </button>

    </form>
    <br><br>
    <h1>
        Albums guardados
    </h1>
    <br>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Artistda</td>
                <td>Año de publicacion</td>
            </tr>
        </thead>
        <tbody>
            {%for alb in listAlbums%}
                <tr>
                    <td>{{ alb.0 }}</td>
                    <td>{{alb.1}}</td>
                    <td>{{alb.2}}</td>
                    <td>{{alb.3}}</td>
                    <td>
                        <a href="/editar/{{ alb.0 }}">Editar</a>
                        <a href="/eliminaraviso/{{ alb.0 }}">Eliminar</a>
                    </td>
                </tr>
            {%endfor%}

        </tbody>
    </table>
    </center>


</body>
</html>