body{
    align-content: center;
    background-image: url("fondo_examen.avif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

title{
    color: #F3FF00;
}

th {
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
    padding: 10px;
}

td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

.contenedor{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-image: url("pexels-anna-shvets-3683056,jpg");
}

table{
    margin: auto;
}

.titulo{
    color: #F3FF00;
    text-align: center;
}
