<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            display: flex;
            margin: 1 auto;
        }
        h1{
            display: flex;
            margin: auto;
        }

    </style>
</head>
<body>
        <h1>Escoge lo que quieres hacer</h1>
        <a href="/iragregar">Agregar nueva fruta</a>
        <a href="/irconsultageneral">Consultar las frutas registradas, actualizarlas, eliminarlas</a>
        <a href="/consultaespecifica">Consultar fruta por nombre</a>
</body>
</html>